In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Movie_classification.csv')

In [3]:
df.head(15)

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection,Start_Tech_Oscar
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400,1
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800,1
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400,1
5,20.5970,59.36,0.542,35718.650,132.2,6.890,7.100,6.885,7.005,7.26,498425,YES,143.48,284.592,Comedy,53,460,57400,0
6,21.7658,70.74,0.476,33396.660,140.1,7.065,7.265,7.150,7.400,8.96,459241,YES,139.16,243.664,Thriller,41,522,45800,0
7,22.8910,70.74,0.476,34285.460,169.6,6.980,7.075,6.875,7.170,7.96,400821,NO,116.84,243.536,Drama,56,571,44200,0
8,24.2248,70.74,0.476,31280.205,173.5,6.910,7.075,6.850,7.000,7.96,295168,YES,118.60,242.640,Comedy,55,564,33000,1
9,23.4008,70.74,0.476,33352.220,159.4,6.665,6.725,6.575,6.855,7.96,412012,YES,189.56,283.024,Thriller,45,508,37800,1
10,24.4978,70.74,0.476,35424.235,167.8,6.675,6.845,6.725,7.060,8.96,369595,NO,120.00,222.400,Drama,29,578,30000,0
11,22.3494,70.74,0.476,33379.995,156.4,6.865,7.035,6.745,6.905,8.96,451646,NO,185.56,263.024,Action,23,553,37800,0
12,21.8756,70.74,0.476,32713.395,112.5,7.120,7.430,7.210,7.335,8.96,407557,YES,110.68,203.472,Action,57,575,43400,0
13,32.5952,71.28,0.462,33046.695,135.3,7.640,7.705,7.535,7.705,6.80,472490,YES,118.16,283.264,Comedy,39,535,40800,1
14,32.7592,71.28,0.462,33863.280,158.0,7.700,7.900,7.760,7.710,7.80,495311,NO,139.28,262.912,Comedy,49,599,36400,1

In [14]:
# 1. Load data (movie classification)
data = pd.read_csv('movie_classification.csv')

In [15]:
# 2. Cek nilai duplikat
duplicate_count = data.duplicated().sum()
print(f'Jumlah nilai duplikat: {duplicate_count}')

Jumlah nilai duplikat: 0

In [16]:
# 3. Menemukan null values dan buat presentase
null_counts = data.isnull().sum()
null_percentages = (null_counts / len(data)) * 100
print('Presentase nilai null:\n', null_percentages)

Presentase nilai null:
 Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

In [9]:
null_percentage = data.isnull().mean() * 100
print("Persentase nilai kosong di setiap kolom:")
print(null_percentage)

Persentase nilai kosong di setiap kolom:
Marketing expense      0.000000
Production expense     0.000000
Multiplex coverage     0.000000
Budget                 0.000000
Movie_length           0.000000
Lead_ Actor_Rating     0.000000
Lead_Actress_rating    0.000000
Director_rating        0.000000
Producer_rating        0.000000
Critic_rating          0.000000
Trailer_views          0.000000
3D_available           0.000000
Time_taken             2.371542
Twitter_hastags        0.000000
Genre                  0.000000
Avg_age_actors         0.000000
Num_multiplex          0.000000
Collection             0.000000
Start_Tech_Oscar       0.000000
dtype: float64

In [17]:
# 4. Drop missing value berdasarkan baris, kolom, imputasi
# Drop missing values berdasarkan baris
data_dropped_rows = data.dropna()
print(f'Jumlah baris setelah drop missing values: {len(data_dropped_rows)}')

Jumlah baris setelah drop missing values: 494

In [18]:
# Drop missing values berdasarkan kolom
data_dropped_columns = data.dropna(axis=1)
print(f'Jumlah kolom setelah drop missing values: {len(data_dropped_columns.columns)}')

Jumlah kolom setelah drop missing values: 18

In [19]:
# Imputasi dengan mean, modus, median
data_imputed_mean = data.fillna(data.mean(numeric_only=True))
data_imputed_modus = data.fillna(data.mode().iloc[0])
data_imputed_median = data.fillna(data.median(numeric_only=True))

In [20]:
# 5. Export data ke csv dan excel
data_dropped_rows.to_csv('movies_drop_rows_alt.csv', index=False)
data_dropped_columns.to_csv('movies_drop_columns_alt.csv', index=False)
data_imputed_mean.to_csv('movies_impute_mean_alt.csv', index=False)
data_imputed_modus.to_csv('movies_impute_mode_alt.csv', index=False)
data_imputed_median.to_csv('movies_impute_median_alt.csv', index=False)

data_dropped_rows.to_excel('movies_drop_rows_alt.xlsx', index=False)
data_dropped_columns.to_excel('movies_drop_columns_alt.xlsx', index=False)
data_imputed_mean.to_excel('movies_impute_mean_alt.xlsx', index=False)
data_imputed_modus.to_excel('movies_impute_mode_alt.xlsx', index=False)
data_imputed_median.to_excel('movies_impute_median_alt.xlsx', index=False)

In [21]:
data.to_csv('movie_classification_cleaned.csv', index=False)
data.to_excel('movie_classification_cleaned.xlsx', index=False)

print('Data telah diekspor ke CSV dan Excel.')

Data telah diekspor ke CSV dan Excel.